[Unit]
Description=TemperatureSensor
After=network.target

[Service]
ExecStart=/home/pi/NodeTemperatureSensor/temperaturesensor.js
Restart=always
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/NodeTemperatureSensor

[Install]
WantedBy=multi-user.target
